<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .form span{
            width: 12ch; display: inline-block;
        }
    </style>
</head>
<body>
    <div style="border: 1px solid #ccc; border-radius: 16px; margin: 16px auto; padding: 16px">
        <form class="form" method="POST" action="{% url 'chat:login' %}">
            {% csrf_token %}
            <h3>登录</h3>
            <span>用户名：</span><input type="text" name="username"> <br>
            <span>密码：</span><input type="text" name="password"> <br>
            <input type="submit" value="登录">
            <a href="{% url 'chat:register' %}">去注册</a>
        </form>
    </div>
</body>
</html>